*{
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #00b894;
}

.App{
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 30px;
}

.plus, .minus{
  user-select: none;
  background-color: rgb(244, 24, 24);
  padding: 0.5rem 2rem;
  cursor: pointer;
}

.plus{
  background-color: rgb(13, 161, 13);
}

.counter{
  padding: 0.5rem 2rem;
}